.divFooter {
    margin-top: 8vw;
}

.img3-1 {
    width: 20vw;
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
}




.tables {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gap {
    gap: 3vw;
}

.title4-0 {
    font-size: 2vw;
}


.loginBackground {
    position: absolute;
    background-size: cover;
    height: 100%;
    z-index: -1;
    top: 0;
    right: 0;
}

.input {
border: none;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    height: 3rem;
    width: 40%;
    font-size: 1vw;
}

.button3-0 {
    width: 20%;
}

.icon3 {
    width: 2vw;
}

.button3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    background-color: white;
    border: 2px solid gray;
    color: black;
}

.button3:hover {
    color: white;
}

.input0 {
width: 20vw;
}

.divContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.contactBar {
    display: flex;
    width: 100%;
    gap: 1vw;
}



.input1{
    resize: none;
    width: 100%;
    height: 20vw;
    padding: 1vw;
}

.input1:focus,
.input0:focus{
    outline:none;
}

.footer0 {
    margin: 0;
}

.divSectionProductBar {
    display: flex;
}

.divProduct0 {
    height: 100%;
    padding: 1.5vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    width: 26vw;
    height: 75.5vw;

    margin-left: 1vw;
}

.resSize {
    margin: 0;
    padding: 0;
    width: fit-content;
}

.divMenu1 {
    padding-inline: 4vw;
}

.resButton1 {
    width: 100%;
    background-color: #633f8f;
}