@media screen and (max-width: 767px) {
    .group1 {
        display: none;
    }

    .login {
        display: none;
    }

    .group2 {
        width: 20%;
    }

    .icon {
        font-size: 5vw;
        cursor: pointer;
    }

    .row {
        height: fit-content;
        padding: 1vw 10vw;
    }

    .header {
        height: fit-content;
        padding-top: 3vw;
    }

    .logo {
        font-size: 8vw;
        font-weight: 600;
        font-family: "Sacramento", cursive;
        cursor: pointer;
    }

    .background {
        display: flex;
        flex-direction: column;
    }

    .tag {
        width: 20vw;
        height: 6vw;
        font-size: 3vw;
        margin-bottom: 2vw;
    }

    .title {
        margin-top: 4vw;
        font-size: 12vw;
        line-height: 12vw;
        width: 17vw;
        margin-bottom: 4vw;
    }

    .text {
        font-size: 5vw;
        width: 70vw;
        margin-bottom: 4vw;
    }

    .button,
    .button1 {
        height: 12vw;
        width: 70vw;
        padding-inline: 8vw;
        font-weight: 400;
        font-size: 4vw;
        white-space: nowrap;
    }

    .img {
        margin-top: 2vw;
        width: 75vw !important;
    }

    .divSection2 {
        width: fit-content;
        height: fit-content;
    }

    .div-button {
        gap: 3vw;
    }

    .divMenuProduct{
        width: 41vw;
        }

      /*  */
    
.rowWelcome {
    height: 110vw;
}

.img1 {
    width: 50vw;
    margin-top: -10vw;
}

.divWelcome {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.title1 {
    font-size: 6vw;
    width: 40vw;
    margin-bottom: 2vw;
}

.text1 {
    font-size: 3vw;
    width: 70vw;
    margin-bottom: 2vw;
}

.divWelcomeText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65vw;
    order: 1;
}

.imgDiv {
    order: 2;
}

.divtextwelcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17vw;
}

.button2 {
    margin-top: 5vw;
    width: 50vw;
}

/*  */

.resButton {
    height: 6vw;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
}

.text3 {
    font-size: 2vw;
}

.divMenuProduct {
    padding: 3vw;
}

.divOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divProduct {
    display: flex;
    width: 100% ;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
}

.tagSection {
    width: 90%;
    display: flex;
    white-space: nowrap;
    gap: 2vw;
}

.menuButton {
    font-size: 3vw;
    padding: 3vw 3vw;
}

.title2 {
    font-size: 6vw;
    margin-top: 7w;
    margin-bottom: 4vw;
}

.title3 {
    font-size: 4vw;
}

.text2 {
    font-size: 2.5vw;
    width: 30vw;
}

.icon1 {
    height: 3.5vw;
}

/*  */

.divTable {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10vw;
}

.img3 {
    order: 2;
    height: 70vw;
    width: fit-content;
    margin-top: 6vw;
}

.img2 {
    height: 30vw;
    width: fit-content;
}

.title4 {
    font-size: 7vw;
    margin-bottom: 2vw;
}

.text4 {
    font-size: 3vw;
    width: 60vw;
    margin-bottom: 3vw;
}

.text3 {
    font-size: 3vw;
}

.resButton1 {
    width: 40vw;
    font-size: 3vw;
}

/*  */

.divChefs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chefs {
    display: flex;
    gap: 2vw;
    margin-top: 5vw;
    justify-content: center;
    width: 100%;
}

.text5 {
    margin-top: 1vw;
    font-size: 2.5vw;
    font-weight: 600;
}

.text6 {
    margin-top: 0.5vw;
    font-size: 2vw;
    font-weight: 600;
    color: #0e6800;
}

.divCheafSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img4 {
    width: 30vw;
    height: fit-content;
}

.resButton2 {
    margin-top: 4vw;
}

/*  */

.text7 {
    margin-top: 2vw;
    font-size: 4vw;
    font-weight: 600;
}

.text8 {
    margin-top: 0.5vw;
    font-size: 3vw;
    font-weight: 600;
    margin-bottom: 6vw;
} 

.text4 {
    margin-top: 0.5vw;
    font-size: 3vw;
    width: 40vw;
    font-weight: 500; 
}

/*  */

.divTimeImg {
    width: 100%;
    height: 48vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.divTime {
    margin-top: 5vw;
    width: 100%;
    padding-inline: 3vw;
}

.title5 {
    color: white;
    margin: 0;
}

.text9 {
    color: white;
    font-size: 2vw;
}

.title6 {
    color: white;
    font-size: 4vw;
}

.divTimeText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5vw;
}

.resButton3 {
    height: 5vw;
    width: 40vw;
    font-size: 3vw;
}

.resText4 {
    font-size: 2.2vw;
}

}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .group1 {
        display: none;
    }

    .login {
        display: none;
    }

    .group2 {
        width: 13%;
    }

    .icon {
        font-size: 3vw;
        cursor: pointer;
    }

    .row {
        height: fit-content;
        padding: 1vw 10vw;
    }

    .header {
        height: fit-content;
        padding-top: 3vw;
    }

    .logo {
        font-size: 5vw;
        font-weight: 600;
        font-family: "Sacramento", cursive;
        cursor: pointer;
    }

    .background {
        display: flex;
        flex-direction: column;
    }

    .tag {
        width: 20vw;
        height: 6vw;
        font-size: 3vw;
        margin-bottom: 2vw;
    }

    .title {
        margin-top: 2vw;
        font-size: 10vw;
        line-height: 9vw;
        width: 17vw;
        margin-bottom: 2vw;
    }

    .text {
        font-size: 3vw;
        width: 52vw;
        margin-bottom: 4vw;
    }

    .button,
    .button1 {
        height: 8vw;
        width: 22vw;
        font-weight: 400;
        font-size: 2vw
    }

    .img {
        margin-top: 2vw;
        width: 50vw !important;
    }

    .divSection2 {
        width: fit-content;
        height: fit-content;
    }

    /*  */
    
.rowWelcome {
    height: 105vw;
}

.img1 {
    width: 50vw;
    margin-top: -16vw;
}

.divWelcome {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.title1 {
    font-size: 6vw;
    width: 40vw;
    margin-bottom: 2vw;
}

.text1 {
    font-size: 3vw;
    width: 70vw;
    margin-bottom: 2vw;
}

.divWelcomeText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65vw;
    order: 1;
}

.imgDiv {
    order: 2;
}

.divtextwelcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17vw;
}

/*  */

.resButton {
    height: 5vw;
}

.text3 {
    font-size: 2vw;
}

.divMenuProduct {
    padding: 3vw;
}

.divOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divProduct {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 4.5vw;
}

.tagSection {
    width: 80%;
}

.menuButton {
    font-size: 2vw;
    padding: 2vw 3vw;
}

.title2 {
    font-size: 5vw;
    margin-top: 7w;
    margin-bottom: 4vw;
}

/*  */

.divTable {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10vw;
}

.img3 {
    order: 2;
    height: 60vw;
    width: fit-content;
    margin-top: 6vw;
}

.title4 {
    font-size: 5vw;
    margin-bottom: 2vw;
}

.text4 {
    font-size: 3vw;
    width: 60vw;
    margin-bottom: 3vw;
}

/*  */

.divChefs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chefs {
    display: flex;
    gap: 2vw;
    margin-top: 5vw;
    justify-content: center;
    width: 100%;
}

.text5 {
    margin-top: 1vw;
    font-size: 2.5vw;
    font-weight: 600;
}

.text6 {
    margin-top: 0.5vw;
    font-size: 2vw;
    font-weight: 600;
    color: #0e6800;
}

.divCheafSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img4 {
    width: 30vw;
    height: fit-content;
}

.resButton2 {
    margin-top: 4vw;
}

/*  */

.text7 {
    margin-top: 2vw;
    font-size: 2vw;
    font-weight: 600;
}

.text8 {
    margin-top: 0.5vw;
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 8vw;
} 

.text4 {
    margin-top: 0.5vw;
    font-size: 2vw;
    width: 34vw;
    font-weight: 500; 
}

/*  */

.divTimeImg {
    width: 100%;
    height: 48vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.divTime {
    margin-top: 5vw;
    width: 100%;
    padding-inline: 3vw;
}

.title5 {
    color: white;
    margin: 0;
}

.text9 {
    color: white;
    font-size: 2vw;
}

.title6 {
    color: white;
    font-size: 4vw;
}

.divTimeText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5vw;
}

.resButton3 {
    height: 5vw;
}

}

@media screen and (min-width: 1024px) {
    .icon0 {
        display: none;
    }
}