@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #3FA72F;
}

.container {
    height: fit-content;
    width: 100%;
}

.row {
    height: fit-content;
    padding: 1vw 10vw;
}

.logo {
    font-size: 2vw;
    font-weight: 600;
    font-family: "Sacramento", cursive;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.group2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11%;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3FA72F;
    color: white;
    font-weight: 500;
    height: 3vw;
    width: 6vw;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 1vw;
    border-radius: 100px;
}

.section {
    color: #000000;
    text-decoration: none;
}

.icon {
    font-size: 1.3vw;
    cursor: pointer;
}

.section {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-size: 1vw;
}

.section:hover {
    color: #FF8A00;
    font-weight: 600;
}


.login:hover {
    background-color: #000000;
}

.background {
    display: flex;
    height: fit-content;
    margin-top: 4vw;
}


.divSection1 {
    width: 45%;
}

.divSection2 {
    width: 55%;
    display: flex;
    align-items: flex-end;
    height: 41vw;
}

.divSection2 img {
    width: 100%;
}

.tag {
    background-color: #ffe8cc;
    width: 8vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: #FF8A00;
    font-size: 1vw;
}

.title {
    margin-top: 1vw;
    font-size: 5vw;
    line-height: 5vw;
    width: 17vw;
    margin-bottom: 1vw;
    color: #311F09;
}

.text {
    font-size: 1.2vw;
    width: 30vw;
    margin-bottom: 2vw;
    color: #311F09;
}

.img {
    right: 0;
    top: 0;
    width: 42vw !important;
}

.button,
.button1 {
    height: 4vw;
    width: 12vw;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: 400;
    font-size: 1vw
}

.button {
    background-color: #FF8A00;
}

.button1 {
    background-color: #3FA72F;
}

.button:hover,
.button1:hover {
    background-color: #000000;
    transition: all 0.5s;
}

.div-button {
    display: flex;
    gap: 1.5vw;
}

.rowWelcome {
    background-color: #ecfaf1;
    width: 100%;
    height: 36vw;
}

.img1 {
    width: 35vw;
}

.divWelcome {
    display: flex;
    gap: 5vw;
}

.title1 {
    font-size: 3vw;
    color: #311F09;
    width: 25vw;
}

.text1 {
    color: #311F09;
    font-size: 1.2vw;
    width: 25vw;
}

.divWelcomeText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 34vw;
}

.divtextwelcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17vw;
}

.divMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tagSection {
    margin-top: 3vw;
    display: flex;
    width: 65%;
    justify-content: space-around;
    margin-bottom: 6vw;
}

.menuButton {
    background-color: #f1f1f1;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    font-weight: 500;
    padding: 1vw 2vw;
    border-radius: 100px;
}

.menuButton:hover {
    background-color: #000000;
    color: white;
    transition: all 0.5s;
}

.title2 {
    font-size: 3.5vw;
    color: #311F09;
    margin-top: 6vw;
    font-weight: 800;
}

.divMenuProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 3vw;
    width: fit-content;
    padding: 1.5vw;
}

.img2 {
    width: 17vw;
}

.icon1 {
    margin-bottom: 1vw;
}

.title3 {
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 1vw;
}

.text2 {
    text-align: center;
    margin-bottom: 1.5vw;
    width: 18vw;
    font-size: 1vw;
}

.divOrder {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.text3 {
    font-size: 1.2vw;
    font-weight: 700;
    color: #0e6800;
}

.divProduct {
    display: flex;
    gap: 2.5vw;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 6vw;
}

.hover {
    background-color: #000000;
    color: white;
}

.divTable {
    display: flex;
    align-items: center;
    margin-top: 6vw;
}

.img3 {
    width: 45vw;
}

.title4 {
    font-size: 3vw;
    margin-bottom: 1vw;
    color: #311F09;
}

.text4 {
    font-size: 1vw;
    width: 25vw;
    margin-bottom: 3vw;
}

.divTableText {
    margin-left: 6vw;
}

.divMenuProduct:hover {
    background-color: #FF8A00;
    transition: all 0.5s;
    color: white;
}

.resButton {
    border: solid 3px #f1f1f1;
}

.resButton:hover {
    border: solid 3px #0e6800;
    background-color: #0e6800;
}

/*  */

.divChefs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chefs {
    display: flex;
    gap: 2vw;
    margin-top: 5vw;
}

.text5 {
    margin-top: 1vw;
    font-size: 1.5vw;
    font-weight: 600;
}

.text6 {
    margin-top: 0.5vw;
    font-size: 1.2vw;
    font-weight: 600;
    color: #0e6800;
}

.divCheafSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img4 {
    width: 20vw;
    height: fit-content;
}

.resButton2 {
    margin-top: 4vw;
}

.divCostumer {
    background-image: url(./Images/Background/Ourcustomerssay.png);
    background-size: cover;
    width: 100%;
    height: 95vw;
}

.divCostumerSays {
    margin-top: 6vw;
    text-align: center;
}

.costumerText {
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divUser{

    display: flex;
    flex-direction: column;
}
.divCostumer{
    display: flex;
    flex-direction: column;
}

.seconddiv{
    display: flex;
    justify-content: center;
}

.text7 {
    margin-top: 1.5vw;
    font-size: 2vw;
    font-weight: 600;
    
}

.text8 {
    margin-top: 0.5vw;
    font-size: 1.2vw;
    font-weight: 600;
    margin-bottom: 10vw;
} 

.text4 {
    margin-top: 0.5vw;
    font-size: 1.2vw;
    font-weight: 500; 

}

.divUser {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*  */

.divTimeImg {
    background-image: url(./Images/Background/Group61.png);
    background-size: cover;
    width: 100%;
    height: 41vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.divTime {
    margin: 5vw 0vw;
    width: 100%;
    padding-inline: 10vw;
}

.title5 {
    color: white;
    margin: 0;
}

.text9 {
    color: white;
    font-size: 1vw;
}

.title6 {
    color: white;
    font-size: 2vw;
}

.divTimeText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5vw;
}

/*  */

.divFooter {
    background-color: #311F09;
    display: flex;
    width: 100%;
    height: 30vw;
justify-content: center;
align-items: center;
    padding-inline: 4vw;
}

.footer1 {
    color: white;
    font-weight: 400;
    font-size: 2.5vw;
}

.text10 {
    color: white;
    font-weight: 300;
    font-size: 1.2vw;
    width: 15vw;
}

.footerSection {
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 2vw;
    width: 100%;
    height: 50%;
}

.icon2 {
font-size: 3vw;
}

.divSocial {
    display: flex;
gap: 2vw;
    width: fit-content;
}

.section1 {
    color: white;
    font-weight: 300;
    font-size: 1.2vw;
}

.section2 {
    color: #FF8A00;
    font-size: 1.3vw;
    font-weight: 500;
}

.footer2 {
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

/*  */

/* .hamMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 70vw;
    justify-content: space-between;
    background-color: white;
    border-bottom: 3px solid rgb(162, 161, 161);
    box-shadow: 0px 5px 5px rgb(222, 222, 222);
    padding: 1vw 10vw;
    z-index: 2;
}
.active{
    background-color: red;
    display: none;
}
.divSectionMenu {
    height: 100%;
    padding: 4vw 0vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.icon3 {
    font-size: 4vw !important;
    margin-top: 2vw;
} */

/*  */
.hamMenu{
    position: relative;
}
  
  #toggle {
    display: none;
  }
  
  .hamburger {
    position: absolute;
    top: 6.2vw;
    right: 10.5vw;
    width: fit-content;
    z-index: 5;
  }
  
  .hamburger div {
    position: relative;
    width: 3vw;
    height: 0.1vw;
    border-radius: 3px;
    background-color: #311F09;
    margin-top: 1vw;
    transition: all 0.3s ease-in-out;
  }
  
  .nav {
    position: fixed;
    width: 100%;
    height: 66vw;
    background-color: #ffffff;
    border-bottom: 3px solid rgb(162, 161, 161);
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }

  nav {
    text-align: left;
    margin-left: 25%;
  }
  nav a {
    position: relative;
    text-decoration: none;
    font-size: 3vw;
    display: inline-block;
    margin-top: 4vw;
    transition: color 0.2s ease-in-out;
  }

  .menu {
    font-size: 4vw;
    color: #000000;
    font-weight: 600;
}

  .loginMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3FA72F;
    color: white;
    font-weight: 500;
    height: 8vw;
    width: 30vw;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 100px;
    white-space: nowrap;
}

.loginMenu:hover {
    background-color: #000000;
}

.menu:hover {
    font-size: 4vw;
    color: #FF8A00;
    text-decoration: underline #FF8A00;
    font-weight: 600;
}
/*  */
  
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }

  